.app-detail-container {
  :global {
    .ant-page-header-has-footer .ant-tabs > .ant-tabs-nav {
      margin: 0;
    }

    .ant-pro-page-container-warp-page-header {
      padding-inline-end: 0;
      padding-bottom: 0;
      padding-block-end: 0;
      background-color: #fff;
    }

    .ant-pro-page-container-children-container {
      padding-inline: 20px;
      margin: 24px 24px 0;
      padding-left: 0;
    }
  }
}

.app-detail-baseinfo-container {
  display: flex;
  align-items: flex-start;

  .card-wrap {
    flex: 1;
    margin-right: 24px;

    .card-content {
      display: flex;
      flex-direction: column;

      .card-item {
        display: flex;
        align-items: center;
        margin-bottom: 18px;

        &-label {
          display: inline-block;
          min-width: 90px;
          font-size: 14px;
          font-weight: 700;
          color: rgba(0, 0, 0, 0.85);
          line-height: 22px;
          margin-right: 24px;
        }

        &-value {
          font-size: 14px;
          color: rgba(0, 0, 0, 0.65);
          line-height: 22px;
        }
      }
    }
  }
}

.app-detail-changes-container {
  background-color: #fff;
  padding: 24px;

  .action-wrapper {
    margin-bottom: 8px;
  }
}

.app-detail-publishing-container .card-box {
  background-color: #fff;
  padding: 12px 24px;
  width: 100%;
  margin-bottom: 24px;

  .header {
    border-radius: 2px;
    height: 56px;
    border-bottom: solid 1px #e9e9e9;
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.85);
    line-height: 24px;
    margin: 0 -24px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .flow-container {
    display: flex;
    flex-direction: column;
  }

  .sub-flow {
    background-color: #fff;
    border: 1px solid #e8e8e8;
    padding: 24px;
    margin-top: 8px;
  }

  .node-summary-container {
    padding: 24px;
  }

  .component-copy {
    display: flex;
    align-items: center;

    .children {
      max-width: calc(100% - 16px);
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1;
    }

    .icon {
      margin-left: 8px;
      cursor: pointer;
      font-size: 14px;
      width: 16px;
    }
  }
}

.queue-node {
  display: inline-flex;
  flex-direction: column;
  align-items: start;
}

.state-icon {
  font-size: 12px;
  margin-right: 4px;
}

.app-detail-publish-history-container,
.app-detail-members-container,
.app-detail-settings-container {
  background-color: #fff;
  padding: 24px;

  .header-container {
    margin-bottom: 8px;
  }
}

.app-detail-settings-container .title {
  font-size: 20px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.85);
  margin-bottom: 24px;
}
